body {
  position: relative;
  min-height: 100vh;
}
.box {
  border: 2px solid #788ea8;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top:50%
}
.box form {
  margin: 0 auto;
  width: 60%;
}
input:focus {
  outline: none;
}

.field-container {
  display: flex;
  justify-content: space-between;
}
.input-field {
  width: 80%;
}
.input-field-avatar {
  width: 45%;
}
.error-text {
  color: rgb(202, 30, 0);
}
.btn-submit {
  width: 200px;
  height: 70px;
  margin: 0 auto;
}
.btn-pos {
  text-align: center;
}
.box-complete {
  height: 200px;
  text-align: center;
}
input[type="file"] {
    display: none;
}

.name-avatar {
	display: inline-block;
	width: 250px;
	border: 1px solid;
	padding: 8px 10px;
}

.custom-file-upload {
  border: 1px solid blue;
	background-color: #99CCFF;
  display: inline-block;
	min-width: 100px;
  padding: 6px 12px;
  cursor: pointer;
}

img {
	display: flex; 
	max-width:200px; 
	max-height:200px;
}
