*{
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 85%;
    padding: 5px 5px;
    border: 1px solid #385d8a;
    background-color: #e1eaf4;
}
table{
    margin-top: 30px;
    margin-bottom: 30px;
    border:1px solid black;
    width: 100%;
}
.search-student{
    width: 80% !important;
    margin-top: 6rem;
    border: 1px solid black;
}

th,td{
    border-right: 1px solid black;
    padding: 5px 10px !important;
}
tr{
    border-bottom: 1px solid black;
}
.button-search{
    border-radius: 8px;
    color: black;
    background-color: #4f81bd;
    padding: 7px 15px;
    text-align: center;
    border:none;
    width: 150px;
}
.key-word{
    padding: 7px 10px;
    color: black;
    background-color: #FFFFFF;
    text-align: center;
}
.search{
    margin-top: 4rem;
}
.button-css{
    text-align: center;
    margin-top:1rem;
    margin-bottom: 2rem;
}
.key-input{
    margin-top: 4rem;
    width: 60%;
    margin-left: 18%;

}
.edit-delete{
    display: flex;
    justify-content: center;
}
