.labelContainer {
	display: flex;
	width: 100%;
	margin: 0 auto;
}
.error {
    color: red;
	display: flex;
	padding-top: 5px;
}
.labelText {
	width: 40%;
	text-align:right;
}
button {
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid blue;
	background-color: #99CCFF;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	min-width: 200px;
	min-height: 50px;
	text-align:center;
}

form {
	width: 80%;
	margin: auto;
	padding: 30px 40px;
}